<div class="control">
    <div>
        <button type="button" class="btn btn-light" (click)="ExecuteQuery()">Execute query</button>
    </div>
    <div>
        <select [(ngModel)]="table" class="form-select" id="inputGroupSelect" (ngModelChange)="onTableChange($event)">
            <option hidden>Choose table</option>
            <option value="students">Students</option>
            <option value="groups">Groups</option>
            <option value="specialities">Specialities</option>
            <option value="lecterns">Lecterns</option>
        </select>
    </div>
    <div>
        <select class="form-select" [(ngModel)]="queryType">
            <option hidden>Choose query type</option>
            <option value="CREATE">CREATE</option>
            <option value="RETRIEVE">RETRIEVE</option>
            <option value="UPDATE">UPDATE</option>
            <option value="DELETE">DELETE</option>
        </select>
    </div>
    <div class="checkboxes">
        @for (item of columnstoDisplay; track $index; let i = $index) {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="{{item.label}}"
                (change)="onCheckChange(item.label, i)" [checked]="item.isChecked">
                <label class="form-check-label" for="inlineCheckbox">{{item.label}}</label>
            </div>
        }
    </div>
    <div class="text-area">
        @if (this.textArea) {
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" maxlength="200">{{sqlQuery}}</textarea>
            <button type="button" class="btn btn-light mt-2" (click)="downloadFile()">Save</button>
        }
    </div>
</div>
<div class="display">
    <app-display [dataSource]="dataSource" [columnsToDisplay]="this.checkBoxOptions"></app-display>
</div>