@import "../../styles.scss";

.control {
  @include element;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.display {
  @include element;
  width: 100%;
}