@import "../../styles.scss";

.main-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(250, 235, 215);
  max-height: 100%;
}

.left-side {
  display: flex;
  flex-grow: 3;
  flex-flow: column;
}

.right-side {
  @include element;
  margin-left: 0;
  display: flex;
  flex-grow: 1;
}

.form {
}

.control {
  @include element;
  display: flex;
  min-height: 205px;
}

.option-control {
  display: flex;
}

.control-checkboxes {
  display: flex;
  flex-direction: column;
}

.table-control {
  display: flex;
  flex-flow: column;
}

.table {
  @include element;
  height: 100%;
  margin-top: 0;
}

.form-select {
  height: 2rem;
  margin: 2px;
}

.checkboxes {
  font-size: larger;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.form-check-input{
  height: 20px;
  width: 20px;
  &:focus {
      box-shadow: none;
    }
}

.text-area{
  width: 30%;
  height: 100%;
  textarea {
    resize: none;
  }
}
