<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
          @for (item of columnsToDisplay; track $index) {
            @if (item !== "0") {
              <th>{{item}}</th> 
            }
            @else {
              <th>###</th>
            }
          }
      </tr>
    </thead>
    <tbody>
      @for (item of dataSource; track $index) {
        <tr>
          @for (column of columnsToDisplay; track $index) {
            <td>{{item[column]}}</td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>