<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
          @for (item of columnsToDisplay; track $index) {
            @if (item.isShown) {
              <th>{{item.label}}</th> 
            }
            @else {
              <th>{{this.placeholder.repeat(item.label.length)}}</th>
            }
          }
      </tr>
    </thead>
    <tbody>
      @for (item of dataSource; track $index) {
        <tr>
          @for (column of columnsToDisplay; track $index) {
            @if (column.isShown) {
              <td>{{item[column.label]}}</td>
            }
            @else {
              <td> </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
</div>