<div class="forms">
    <p>Weather forecast form</p>
    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">a</span>
            <input formControlName="temp" type="number" class="form-control" placeholder="example" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div>
            <button type="submit" class="btn btn-light">Submit</button>
        </div>
    </form>
</div>