<div class="forms">
    <p>Weather forecast form</p>
    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">a</span>
            <input formControlName="temp" type="number" class="form-control" placeholder="example" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">a</span>
            <input formControlName="date" type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select formControlName="summary" class="form-select" id="inputGroupSelect01">
                @for (summary of summaryOptions; track summary) {
                    <option [value]="summary">{{summary}}</option>
                }
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-light">Submit</button>
        </div>
    </form>
</div>